table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
    padding: 4px 20px;
}

th {
    background-color: #222222;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}