.hop-comparison-div {
    height: 80vh;
    overflow: hidden;
}

.control-pane-div {
    height: 80vh;
    width: 35vw;
    background-color: rgba(193, 193, 193, 0.6);
    float: left;
    overflow: hidden;
}

.scroll-pane-div {
    height: 80vh;
    overflow: scroll;
}