.hop-comparison-div {
    height: 82vh;
    overflow: hidden;
}

.control-pane-div {
    height: 82vh;
    width: 30vw;
    background-color: #89a2a5;
    float: left;
    overflow: hidden;
}

.scroll-pane-div {
    height: 75vh;
    overflow: scroll;

    padding-left: 30px;
}

.scroll-pane-div h3 {
    text-align: center;
}

button.save-comparison-button {
    margin-top: 1.4rem;
    font-size: 1.2rem;

    color: #303030;
    background-color: inherit;
    border: 1px solid #303030;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 2px rgba(100, 100, 100, 0.2);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

button.save-comparison-button:hover {
    color: inherit;
    background-color: rgb(123, 196, 255, 0.05);
    cursor: pointer;
}

button.save-comparison-button:disabled {
    color: #cccccc;
    background-color: inherit;
    border: 1px solid #cccccc;
    cursor: auto;
    box-shadow: none;
}