.hop-comparison-div {
    height: 82vh;
    overflow: hidden;
}

.control-pane-div {
    height: 82vh;
    width: 30vw;
    background-color: rgba(216, 216, 216);
    float: left;
    overflow: hidden;
}

.scroll-pane-div {
    height: 75vh;
    overflow: scroll;
}

div.chart {
    float: right;
}

h3 {
    text-align: center;
}