footer {
    height: 8vh;

    color: #c2c2c2;
    background-color: #353535;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
