footer {
    height: 8vh;

    color: whitesmoke;
    background-color: #222222;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
