.hop-list-div {
    height: 57vh;
    height: 67vh; /* Note: Temporary until ControlPaneSearch is included  */
    overflow: scroll;
    padding: 4px;
}

.hop-list-table {
    float: none;
    margin: 0 auto;
    font-size: 0.8rem;

    border: 1px solid #587b7f;
    border-bottom-width: 8px;
}

.hop-list-table tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.hop-list-table tr:nth-child(even) {
    background-color: #d8d8d8;;
}